In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from tqdm import tqdm
from matplotlib.ticker import MaxNLocator
import json
import ptitprince as pt
import pickle as pkl
# import contextily as ctx
from analysis import *
from ema_workbench import load_results

In [25]:
# Load results
results = load_results('../results/scenarios=2, policies=100.tar.gz')

In [39]:
outcomes = prepare_outcomes_dataframe(results)
experiments = results[0]

In [40]:
# Convert columns to float
for col in outcomes.columns:
    if col not in ['scenario', 'policy', 'district']:
        outcomes[col] = outcomes[col].astype(float)

In [41]:
policy_columns = ['target_group', 'top_up']
outcomes = pd.merge(experiments[['policy'] + policy_columns], outcomes, on='policy')
outcomes = outcomes.drop(columns=['policy', 'scenario'])

In [42]:
target_groups = outcomes['target_group'].unique().tolist()
top_ups = outcomes['top_up'].unique().tolist()
target_groups, top_ups

(['poor', 'poor_near_poor1.25', 'all', 'poor_near_poor2.0'], [50, 30, 10, 0])

In [43]:
outcomes_of_interest = ['annual_average_consumption_loss_pct', 'n_new_poor']
outcomes.groupby(['target_group', 'top_up', 'district']).mean()[outcomes_of_interest].iloc[:25, :]

                                        annual_average_consumption_loss_pct  \
target_group top_up district
all          0      AnseLaRayeCanaries                             0.199036
                    Castries                                       0.236161
                    Choiseul                                       0.427696
                    Dennery                                        0.179790
                    Gros Islet                                     0.331799
                    Laborie                                        0.315745
                    Micoud                                         0.145767
                    Soufriere                                      0.262195
                    Vieuxfort                                      0.271769
             10     AnseLaRayeCanaries                             0.013167
                    Castries                                       0.000027
                    Choiseul                                       0.002480
                    Dennery                                        0.004735
                    Gros Islet                                     0.000000
                    Laborie                                        0.001236
                    Micoud                                         0.000000
                    Soufriere                                      0.003240
                    Vieuxfort                                      0.002517
             30     AnseLaRayeCanaries                             0.000000
                    Castries                                       0.000000
                    Choiseul                                       0.000000
                    Dennery                                        0.000000
                    Gros Islet                                     0.000000
                    Laborie                                        0.000000
                    Micoud                                         0.000000

                                        n_new_poor
target_group top_up district
all          0      AnseLaRayeCanaries        25.0
                    Castries                 754.0
                    Choiseul                 140.0
                    Dennery                  104.0
                    Gros Islet                37.5
                    Laborie                   50.5
                    Micoud                    48.0
                    Soufriere                150.0
                    Vieuxfort                 80.5
             10     AnseLaRayeCanaries         0.0
                    Castries                   0.0
                    Choiseul                   0.0
                    Dennery                    0.0
                    Gros Islet                 0.0
                    Laborie                    0.0
                    Micoud                     0.0
                    Soufriere                  0.0
                    Vieuxfort                  0.0
             30     AnseLaRayeCanaries         0.0
                    Castries                   0.0
                    Choiseul                   0.0
                    Dennery                    0.0
                    Gros Islet                 0.0
                    Laborie                    0.0
                    Micoud                     0.0

In [ ]:
vertical = ['None', '10%', '30%', '50%']
horizontal = ['All', 'Poor', 'Poor & Near Poor (1.25)', 'Poor & Near Poor (2.0)']
columns = ['Vertical expansion', 'Horizontal expansion', 
           'Average reduction in consumption loss (%)', 
           'Average number of people prevented from falling into poverty']